div {
  border: 1px solid gold;
  color: #f64c72;
}

h1 {
  font-size: 2em;
  color: #f64c72;
}

h2 {
  color: #f64c72;
}

p {
  color: #f64c72;
}

a {
  font-size: 1em;
  color: gold;
}

body {
  background-color: #2f2fa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content-wrapper {
  padding: 2.5%;
}

body #content-wrapper header {
  height: 20vh;
  width: auto;
}

body #content-wrapper header #greeting-wrapper {
  height: 100%;
}

body #content-wrapper header nav {
  height: 100%;
  background-color: #553d67;
  border: 1px solid gold;
  color: #f64c72;
}

body #content-wrapper header nav > * {
  padding: 1vw;
}

body #content-wrapper header nav #search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

body #content-wrapper header nav #nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

body #content-wrapper #sub-header {
  height: 10%;
  width: 100%;
}

body #content-wrapper #toggle-button-section {
  height: 10%;
  padding: 0.5rem;
}

body #content-wrapper #toggle-button-section #toggle-list-wrapper {
  height: 100%;
}

body #content-wrapper #toggle-button-section #toggle-info-wrapper {
  height: 100%;
}

body #content-wrapper #movies-content-wrapper {
  max-height: 100vh;
  padding: 0;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper {
  height: 100vh;
  overflow-y: scroll;
  padding: 0;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper {
  background-color: #99738e;
  max-height: 35vh;
  padding: 1rem;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper .movie-link {
  max-height: 35vh;
  padding: 0;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper .movie-link .data-wrapper {
  max-height: 35vh;
  padding: 0;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper .movie-link .data-wrapper .search-title {
  height: 1rem;
  overflow: hidden;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper .movie-link .data-wrapper .search-images {
  height: 8rem;
  width: auto;
  overflow: visible;
}

body #content-wrapper #movies-content-wrapper #lists-wrapper .movie-wrapper .movie-link .data-wrapper .search-description {
  overflow: hidden;
}

body #content-wrapper #movie-data-wrapper {
  height: 100vh;
}

body #content-wrapper #movie-data-wrapper #poster-data-wrapper #movie-data-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

body #content-wrapper #movie-data-wrapper #poster-data-wrapper #movie-data-left #movie-data-poster {
  -o-object-fit: contain;
     object-fit: contain;
}

body #content-wrapper #movie-data-wrapper #poster-data-wrapper #movie-data-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

body #content-wrapper #movie-data-wrapper #data-sources-wrapper .sources-wrapper .source-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

body #content-wrapper #movie-data-wrapper #data-sources-wrapper .sources-wrapper .source-ul .source-li {
  margin: 0.5rem;
  padding: 0.5rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */