/////////////////////////////////// UNIVERSALS

$color-primary: #2f2fa2;
$color-secondary: #f64c72;
$color-tertiary: #553d67;
$color-accent: #99738e;
$color-bright-accent: gold;

$bright-border: 1px solid $color-bright-accent;

div {
	border: $bright-border;
	color: $color-secondary;
}

h1 {
	font-size: 2em;
	color: $color-secondary;
}

h2 {
	color: $color-secondary;
}

p {
	color: $color-secondary;
}

a {
	font-size: 1em;
	color: $color-bright-accent;
}

body {
	background-color: $color-primary;
	display: flex;
	flex-direction: column;

	#content-wrapper {
		padding: 2.5%;

		header {
			height: 20vh;
			width: auto;

			#greeting-wrapper {
				height: 100%;
			}

			nav {
				height: 100%;
				background-color: $color-tertiary;
				border: $bright-border;
				color: $color-secondary;

				> * {
					padding: 1vw;
				}

				#search-form {
					display: flex;
					justify-content: center;
					height: 50%;
					// width: 100%;
				}

				#nav-buttons {
					display: flex;
					justify-content: center;
					height: 50%;
				}
			}
		}

		#sub-header {
			height: 10%;
			width: 100%;
		}

		#toggle-button-section {
			height: 10%;
			padding: 0.5rem;

			#toggle-list-wrapper {
				height: 100%;
			}

			#toggle-info-wrapper {
				height: 100%;
			}
		}

		#movies-content-wrapper {
			max-height: 100vh;
			padding: 0;

			#lists-wrapper {
				height: 100%;
				padding: 0;

				#search-results-wrapper {
					height: 100vh;
					overflow-y: scroll;
					padding: 0;

					.movie-wrapper {
						background-color: $color-accent;

						max-height: 35vh;
						padding: 1rem;

						.movie-link {
							max-height: 35vh;
							padding: 0;

							.data-wrapper {
								max-height: 35vh;
								padding: 0;

								.search-title {
									height: 1rem;
									overflow: hidden;
								}

								.search-images {
									height: 8rem;
									width: auto;
									overflow: visible;
								}

								.search-description {
									overflow: hidden;
								}
							}
						}
					}
				}
			}
		}

		#movie-data-wrapper {
			height: 100vh;

			#poster-data-wrapper {
				#movie-data-left {
					display: flex;
					flex-direction: column;
					max-height: 100vh;
					// object-fit: contain;

					#movie-data-poster {
						object-fit: contain;
					}
				}

				#movie-data-right {
					display: flex;
					flex-direction: column;
					max-height: 100vh;

					#data-summary-wrapper {
					}
					#data-rating-wrapper {
					}
				}
			}

			#data-sources-wrapper {
				.sources-wrapper {
					.source-ul {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
						padding: 0.5rem;

						.source-li {
							margin: 0.5rem;
							padding: 0.5rem;
						}
					}
				}
			}
		}
	}
}

.hidden {
	display: none;
}
