div {
  border: 1px solid gold;
  color: #f64c72;
}

h1 {
  font-size: 2em;
  color: #f64c72;
}

h2 {
  color: #f64c72;
}

p {
  color: #f64c72;
}

a {
  font-size: 1em;
  color: gold;
}

body {
  background-color: #2f2fa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content-wrapper {
  padding: 2.5%;
}

body #content-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content-wrapper nav {
  background-color: #553d67;
  border: 1px solid gold;
  color: #f64c72;
}

body #content-wrapper nav > * {
  padding: 1vw;
}

body #content-wrapper nav form > * {
  margin: 1vw;
}

body #content-wrapper #tmdb-logo {
  height: auto;
  width: 10vw;
}

body #content-wrapper #search-results-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  overflow: auto;
}

body #content-wrapper #search-results-wrapper .movie-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100vh;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 20vw;
  min-width: 20vw;
  padding: 0;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .search-title {
  height: 7.5vh;
  overflow: hidden;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .search-images {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 200vw;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .search-description {
  max-height: 10vh;
  overflow: hidden;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper > * {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .summary-pop-wrapper {
  max-height: 80vh;
  padding: 0;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .summary-pop-wrapper .movie-summary {
  overflow: hidden;
  padding: 0;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .summary-pop-wrapper .popularity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  overflow: hidden;
}

body #content-wrapper #search-results-wrapper .movie-wrapper .data-wrapper .source-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  overflow: hidden;
}

#movie-data-wrapper #movie-data-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

#movie-data-wrapper #movie-data-left #movie-data-poster {
  -o-object-fit: contain;
     object-fit: contain;
}

#movie-data-wrapper #movie-data-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-purchase-wrapper #purchase-sources-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-purchase-wrapper #purchase-sources-list .purchase-source {
  margin: 0.5rem;
  padding: 0.5rem;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-rent-wrapper #rental-sources-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-rent-wrapper #rental-sources-list .rental-source {
  margin: 0.5rem;
  padding: 0.5rem;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-streaming-wrapper #streaming-sources-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#movie-data-wrapper #movie-data-right #data-sources-wrapper #sources-streaming-wrapper #streaming-sources-list .streaming-source {
  margin: 0.5rem;
  padding: 0.5rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */