/////////////////////////////////// UNIVERSALS

$color-primary: #2f2fa2;
$color-secondary: #f64c72;
$color-tertiary: #99738e;
$color-accent: #553d67;
$color-bright-accent: gold;

$bright-border: 3px solid $color-bright-accent;

body {
	background-color: $color-primary;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: column;
	text-align: center;
}

nav {
	border: $bright-border;
	color: $color-secondary;
	display: flex;
	flex-direction: row;
	justify-content: center;

	> * {
		padding: 1vw;
	}
}

form {
	display: flex;
	align-items: center;

	> * {
		margin: 1vw;
	}
}

div {
	border: $bright-border;
	color: $color-secondary;
}

h1 {
	font-size: 2em;
	color: $color-secondary;
}

h2 {
	color: $color-secondary;
}

p {
	color: $color-secondary;
}

a {
	font-size: 1em;
	color: $color-bright-accent;
}

#movie-data-wrapper {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	overflow: auto;
	// scroll-behavior: smooth;
	// width: 95vw;
}

#content-wrapper {
	padding: 5%;
}

#movie-poster {
	text-decoration: underline;
}

#title-year {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#description {
	display: flex;
	justify-content: flex-start;
}

#popularity {
	display: flex;
	justify-content: center;
}

.movie-wrapper {
	display: flex;
	flex-direction: row;
}

.search-results {
	padding: 0.2vw;
	max-height: 100vh;
	max-width: 20vw;

	.search-title {
		font-size: 1em;
		max-height: 10vh;
		text-align: center;
	}

	.search-images {
		align-self: center;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	.search-description {
		font-size: 0.75em;
		max-height: 10vh;
		text-align: center;
	}

	> * {
		justify-content: center;
	}
}

.offers {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none;
}
