body {
  background-color: #2f2fa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

nav {
  border: 3px solid gold;
  color: #f64c72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav > * {
  padding: 1vw;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form > * {
  margin: 1vw;
}

div {
  border: 3px solid gold;
  color: #f64c72;
}

h1 {
  font-size: 2em;
  color: #f64c72;
}

h2 {
  color: #f64c72;
}

p {
  color: #f64c72;
}

a {
  font-size: 1em;
  color: gold;
}

#movie-data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  overflow: auto;
}

#content-wrapper {
  padding: 5%;
}

#movie-poster {
  text-decoration: underline;
}

#title-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#popularity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-results {
  padding: 0.2vw;
  max-height: 100vh;
  max-width: 20vw;
}

.search-results .search-title {
  font-size: 1em;
  max-height: 10vh;
  text-align: center;
}

.search-results .search-images {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-results .search-description {
  font-size: 0.75em;
  max-height: 10vh;
  text-align: center;
}

.search-results > * {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */