<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div id="content-wrapper">
			<div class="container-fluid row">
				<div
					class="col-6 d-flex align-items-center justify-content-center"
				>
					<header class="">
						<h1>Welcome to MovieFax!</h1>
						<p><%= greeting %></p>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<form action="/query-search" method="post">
							<div class="row">
								<div class="col-8 d-flex align-items-center">
									<input
										type="text"
										name="query"
										placeholder="Search for a movie to get started..."
										class="form-control"
									/>
								</div>
								<div class="col-4">
									<input
										type="submit"
										id="search-button"
										value="Search Movies"
										class="btn btn-secondary"
									/>
								</div>
							</div>
						</form>
						<div class="row d-flex justify-content-around">
							<div class="col-4">
								<form action="/sample-search" method="post">
									<input
										type="submit"
										value="Use Sample Data"
										class="btn btn-primary"
									/>
								</form>
							</div>
							<div class="col-4">
								<%- req.session.loggedin ?
								include('../partials/logout-btn') :
								include('../partials/login-btn') %>
							</div>
						</div>
					</nav>
				</div>
				<i class="text-center"
					>~ Powered by <a href="https://wwww.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
			<div class="container-fluid" id="search-results-wrapper">
				<ul>
					<!--<div class="movie-wrapper">
						<div class="search-results">
							<h6>${title[i]}</h6>
							<img class="search-images" src="${image[i]}" />
					<p><small>${description[i]}</small></p>
				</div>
				<div id="data-${searchTitle[i]}" class="hidden">
					<div class="movie-data-wrapper">
						<div class="movie-summary">
							<p>${summary}</p>
						</div>
						<div class="popularity">
							<p>${popularity}</p>
						</div>
					</div>
				</div>
			</div> -->
				</ul>
			</div>
		</div>
	</body>
</html>
