<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body id="login">
		<div id="content-wrapper">
			<div class="container-fluid row">
				<div
					class="col-6 d-flex align-items-center justify-content-center"
				>
					<header class="">
						<h2><%= loginMessage %></h2>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<div class="row">
							<form action="/auth" method="post">
								<div class="row d-flex flex-column">
									<input
										type="text"
										name="userName"
										placeholder="login with user name OR email..."
										class="form-control"
									/>
									<input
										type="text"
										name="userPassword"
										placeholder="password"
										class="form-control"
									/>
								</div>
								<input
									type="submit"
									id="login-button"
									value="Login"
									class="btn btn-secondary"
								/>
							</form>
							<form action="/forgotPassword" method="get">
								<input
									type="submit"
									id="forgot-button"
									value="Forgot Password"
									class="btn btn-secondary"
								/>
							</form>
							<h3>Or register as a new user...</h3>
							<form action="/register" method="post">
								<div class="row d-flex flex-column">
									<input
										type="text"
										name="newUserName"
										autocomplete="off"
										placeholder="new user name"
										class="form-control"
									/>
									<input
										type="text"
										name="newEmail"
										autocomplete="off"
										placeholder="new email"
										class="form-control"
									/>
									<input
										type="text"
										name="newPassword"
										autocomplete="off"
										placeholder="new password"
										class="form-control"
									/>
								</div>
								<input
									type="submit"
									id="register-button"
									value="Register"
									class="btn btn-secondary"
								/>
							</form>
							<form action="/" method="get">
								<input
									type="submit"
									value="Back"
									class="btn btn-primary"
								/>
							</form>
						</div>
					</nav>
				</div>
				<i class="text-center"
					>~ Powered by <a href="https://wwww.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
		</div>
	</body>
</html>
