<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div class="container-fluid" id="content-wrapper">
			<div class="row gx-3">
				<div class="col-6">
					<header class="container-fluid text-center">
						<h1><%= movieTitle %></h1>
						<div class="row d-flex justify-content-center">
							<p class="col-2"><small><%= movieYear %></small></p>
							<p class="col-2">
								<small>(<%= contentRating %>)</small>
							</p>
						</div>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<form onsubmit="return false">
							<div
								class="row d-flex justify-content-center align-items-center"
							>
								<div class="col-6">
									<h5>Return to search...</h5>
								</div>
								<div class="col-2">
									<a href="/">
										<button
											type="button"
											id="back-button"
											class="btn btn-secondary"
										>
											Back
										</button>
									</a>
								</div>
							</div>
						</form>
					</nav>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<i class="text-center"
					>~ Powered by <a href="https://wwww.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
			<div id="movie-data-wrapper"></div>
		</div>
	</body>
</html>
