<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div id="content-wrapper">
			<div class="container-fluid row">
				<div
					class="col-6 d-flex align-items-center justify-content-center"
				>
					<header class="">
						<h1>Search results for <%= searchQuery %></h1>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<form onsubmit="return false">
							<div class="row">
								<div class="col-8 d-flex align-items-center">
									<input
										type="text"
										placeholder="Search for another movie?"
										class="form-control"
										id="search-query"
									/>
								</div>
								<div class="col-4">
									<button
										type="button"
										id="search-button"
										class="btn btn-secondary"
									>
										Search Movies
									</button>
								</div>
							</div>
						</form>
						<form action="/sampleSearch" method="post">
							<input
								type="submit"
								value="Use Sample Data"
								class="btn btn-primary"
							/>
						</form>
					</nav>
				</div>
				<i class="text-center"
					>~ Powered by <a href="https://wwww.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
			<div class="container-fluid">
				<ul id="search-results-wrapper">
					<% movies.forEach(function(movie){ %> <%-
					include('partials/movie-wrapper', {detailsLink: detailsLink,
					result.id: result.id, result.title: result.title,
					result.image: result.image, result.description:
					result.description }); %> <% }); %>
				</ul>
			</div>
		</div>
	</body>
</html>
