<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div id="content-wrapper">
			<div class="container-fluid row">
				<div
					class="col-6 d-flex align-items-center justify-content-center"
				>
					<header class="">
						<h2><%= loginMessage %></h2>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<form action="/change-password" method="post">
							<div class="row d-flex flex-column gy-3">
								<input
									type="text"
									name="userName"
									placeholder="your user name"
									class="form-control"
								/>
								<input
									type="text"
									name="newPasswordOne"
									placeholder="enter your new password"
									class="form-control"
								/>
								<input
									type="text"
									name="newPasswordTwo"
									placeholder="enter new password again"
									class="form-control"
								/>
							</div>
							<input
								type="submit"
								id="iforgot-button"
								value="Confirm New Password"
								class="btn btn-secondary"
							/>
						</form>
					</nav>
				</div>
				<i class="text-center"
					>~ Powered by <a href="https://wwww.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
		</div>
	</body>
</html>
