<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>MovieFax</title>
		<link rel="stylesheet" href="./style/style.css" />
		<script defer src="client.js"></script>
	</head>
	<body>
		<div id="content-wrapper">
			<header>
				<h1>Welcome to MovieFax!</h1>
			</header>
			<nav>
				<p>Search for a movie to get started...</p>
				<form onsubmit="return false">
					<input type="text" id="search-query" />
					<button type="button" id="search-button">
						Search Movies
					</button>
				</form>
			</nav>
			<div id="movie-wrapper">
				<div id="movie-poster">
					<h2>{%MOVIEPOSTER%}</h2>
				</div>
				<div id="description-data">
					<div id="title-year">
						<h2>{%TITLE%}</h2>
						<p>{%YEAR%}</p>
					</div>
					<div id="description">
						<p>{%DESCRIPTION%}</p>
					</div>
					<div id="popularity">
						<p>{%POPULARITY%}</p>
					</div>
					<div class="offers">
						<p>{%OFFERS%}</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
